* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.5rem;
    color: rgb(14, 14, 31);
    background-color: rgb(235, 227, 227);
}

.wrapper {
    display: flex;
    margin: 2rem auto;
    max-width: 60rem;
    border-radius: 1.5rem;
    background-color: rgba(119, 119, 119, 0.911);
}

.mem-slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 3rem 10rem;
}

input {
    display: none;
}

.mem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    max-height: 40rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
}

img {
    display: flex;
    margin: 0 auto;
    width: 40rem;
    height: 40rem;
    object-fit: contain;
    
}
.memes {
    display: flex;
    flex-direction: row;
    transition: all ease 0.5s;
}

.content {
    display: flex;
    justify-content: space-between;
}

.memes-text {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 30rem;
}

.mem-text {
    width: 30rem;
    white-space: nowrap;
    flex-shrink: 0;
    transition: all ease 0.5s;
}

.labels {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.15rem;
    cursor:pointer;
    transition: all ease 0.5s;
}

span {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color:rgb(168, 191, 192);
    border: 0.2rem solid  rgb(168, 191, 192);
    transition: all ease 0.4s;
}

input#slider1:checked ~ .memes {
    transform: translateX(0);
}

input#slider2:checked ~ .memes {
    transform: translateX(-50rem);
}

input#slider3:checked ~ .memes {
    transform: translateX(-100rem);
}

input#slider4:checked ~ .memes {
    transform: translateX(-150rem);
}

input#slider1:checked ~ .content .mem-text {
    transform: translateX(0);
}

input#slider2:checked ~ .content .mem-text {
    transform: translateX(-30rem);
}

input#slider3:checked ~ .content .mem-text {
    transform: translateX(-60rem);
}

input#slider4:checked ~ .content .mem-text {
    transform: translateX(-90rem);
}

input#slider1:checked ~ .content .labels label[for="slider1"] span,
input#slider2:checked ~ .content .labels label[for="slider2"] span,
input#slider3:checked ~ .content .labels label[for="slider3"] span,
input#slider4:checked ~ .content .labels label[for="slider4"] span {
    background-color: rgba(119, 119, 119, 0.911);
}

@media (hover: hover) {
    label:hover span {
        border-color: rgba(229, 244, 247, 0.911);
        background-color: rgba(229, 244, 247, 0.911);
    }

    span:active {
        transform: scale(1.2);
    }

    input#slider1:checked ~ .content .labels label[for="slider1"]:active,
    input#slider2:checked ~ .content .labels label[for="slider2"]:active,
    input#slider3:checked ~ .content .labels label[for="slider3"]:active,
    input#slider4:checked ~ .content .labels label[for="slider4"]:active {
    transform: none;
}
}